*{margin: 0; padding: 0;}
a{text-decoration: none;}
kbd > button{position: absolute; right: 0; bottom: 0; display: none;
border-radius: 3px;
background: #fffa67;
border:none;
padding: 2px;
cursor: pointer;
}
kbd:hover > button{display: inline-block; }
body{background: grey url(./galaxy.jpg) no-repeat center top; }
main{text-align: center; display: flex; justify-content: center; align-items: center; height: 100vh; }
#main{display: inline-block;; }
#main> div:nth-child(2){margin-left: 20px; }
#main> div:nth-child(3){margin-left: 10px; }
.wrapper{
	background: rgba(255,255,255,0.2);
    border-radius: 10px;
    padding: 20px 0 10px;
    box-shadow: 1px 1px 18px rgba(0,0,0,.8);
}

.key{
    width:47px; height: 69px;  background: #000; 
    border-radius: 8px;
    padding: 0 12px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	position: relative;
    font-size: 24px; font-family: Helvetica;
    cursor: pointer;
    color: #fff;
    cursor: pointer;
}
	
.row{margin: 24px; }
.row .key{margin: 0 10px; }
.key img{width: 16px; height: 16px; position: absolute; left: 4px; bottom: 2px;}
.key .text{position: absolute; left: 27px; top: 18px; }

kbd{
    display: inline-block; text-transform: uppercase; position: relative;
 }